{% extends "layout.html" %}

{% block content %}
<h1>Среднее время прохождения уровня</h1>
<form class="form-inline">
  <div class="form-group">
    <label for="datefrom">Date From</label>
    <input type="text" class="form-control" id="datefrom" name="datefrom" value="{{ datefrom }}">
  </div>
  <div class="form-group">
    <label for="dateto">Date To</label>
    <input type="text" class="form-control" id="dateto" name="dateto" value="{{ dateto }}">
  </div>
  <div class="form-group">
    <label for="levelfrom">Level from</label>
    <input type="text" class="form-control" id="levelfrom" name="levelfrom" value="{{ levelfrom }}" size="4">
  </div>
  <div class="form-group">
    <label for="levelto">Level to</label>
    <input type="text" class="form-control" id="levelto" name="levelto" value="{{ levelto }}" size="4">
  </div>
  <button type="submit" class="btn btn-default">Show diagram</button>
</form>
<img src="{{ url_for('avgtime_diagram', datefrom=datefrom, dateto=dateto, levelfrom=levelfrom, levelto=levelto) }}" class='img-responsive img-block'>
{% endblock %}
