{% extends "layout.html" %}

{% block content %}
<h1>Daily active users</h1>
<form class="form-inline">
  <div class="form-group">
    <label for="datefrom">Date From</label>
    <input type="text" class="form-control" id="datefrom" name="datefrom" value="{{ datefrom }}">
  </div>
  <div class="form-group">
    <label for="dateto">Date To</label>
    <input type="text" class="form-control" id="dateto" name="dateto" value="{{ dateto }}">
  </div>
  <button type="submit" class="btn btn-default">Show diagram</button>
</form>
<img src="{{ url_for('dau_diagram', datefrom=datefrom, dateto=dateto) }}" class='img-responsive img-block'>
{% endblock %}
