<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Game statistics</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style media="screen" type="text/css">
        .list-inline {
            margin-top: 20px;
        }
    </style>
  </head>
  <body>
    <div class="container">
     <ul class="list-inline">
         <li><a href="{{ url_for('dau') }}">Daily active users</a></li>
         <li><a href="{{ url_for('avgtime') }}">Среднее время прохождения уровня</a></li>
         <li><a href="{{ url_for('levels') }}">Распределение по уровням</a></li>
     </ul>
     {% block content %}{% endblock %}
    </div>
  </body>
</html>
