{% extends "layout.html" %}

{% block content %}
<h1>Распределение игроков по уровням</h1>
<form class="form-inline">
  <div class="form-group">
    <label for="date">Date</label>
    <input type="text" class="form-control" id="date" name="date" value="{{ date }}">
  </div>
  <div class="form-group">
    <label for="levelfrom">Level from</label>
    <input type="text" class="form-control" id="levelfrom" name="levelfrom" value="{{ levelfrom }}" size="4">
  </div>
  <div class="form-group">
    <label for="levelto">Level to</label>
    <input type="text" class="form-control" id="levelto" name="levelto" value="{{ levelto }}" size="4">
  </div>
  <button type="submit" class="btn btn-default">Show diagram</button>
</form>
<img src="{{ url_for('levels_diagram', date=date, levelfrom=levelfrom, levelto=levelto) }}" class='img-responsive img-block'>
{% endblock %}
